.profile__linkedit{
  align-self: center;
  margin-bottom: 15px;
  width:24px;
  height: 24px;
  background-color:black;
  border:1px solid #FFFFFF;
  justify-content: center;
  align-items: center;
  background-image: url('../../../images/Vector\(3\).svg');
  background-repeat: no-repeat;
  background-position: center;
}
.profile__linkedit:hover{
  opacity: 60%;
}

@media screen and (min-width:320px) and (max-width:882px){
  .profile__linkedit{
    width: 18px;
    height: 18px;
    align-self: start;
    margin: 21px 0 0 0;
  }
}