.profile__linkedit{
  display: inline-block;
  width:24px;
  height: 24px;
  border:1px solid #FFFFFF;
}
.profile__linkedit:hover{
  opacity: 60%;
}

@media screen and (min-width:320px) and (max-width:600px){
  .profile__linkedit{
    width: 18px;
    height: 18px;
  }
}