.profile__add{
  border: 2px solid #FFFFFF;
  width: 150px;
  height: 50px;
  display:flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius:2px;
  cursor:pointer;
}
.profile__add:hover{
  opacity: 60%;
}

@media screen and (min-width:320px) and (max-width:600px){
  .profile__add{
    width: 282px;
    box-sizing: border-box;
  }
}