.footer{
  max-width:882px;
  margin: 53px auto 0 auto;
}

@media screen and (max-width:882px){
  .footer{
    max-width: 600px;
  }
}

@media screen and (min-width:320px) and (max-width:600px){
  .footer{
    max-width: 282px;
    margin-top: 48px;
  }
}