.profile__addborder{
  border: 2px solid #FFFFFF;
  width: 150px;
  height: 50px;
  display:flex;
  justify-content: center;
}
.profile__addborder:hover{
  opacity: 60%;
}

@media screen and (min-width:320px) and (max-width:600px){
  .profile__addborder{
    width: 282px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
}